.new-footer
  .new-footer-down
    .new-footer-down-bottom
      %ul.new-footer-down-bottom-links
        %li.new-footer-down-bottom-links-link
          = link_to "", class: "new-footer-down-bottom-links-link-text" do
            利用規約
        %li.new-footer-down-bottom-links-link
          = link_to "", class: "new-footer-down-bottom-links-link-text" do
            プライバシー規約
        %li.new-footer-down-bottom-links-link
          = link_to "", class: "new-footer-down-bottom-links-link-text" do
            ヘルプ
      .new-footer-down-bottom-company
        © 1996-2019, Amazon.com, Inc. or its affiliates