.new-main-header
  = link_to posts_path, class:"new-main-header-link" do
    .new-main-header-link-title
      .new-main-header-link-title-amazon
        amazon
      %p.new-main-header-link-title-domain .co.jp