.content-main-slides
  .content-main-slides-slide
    =link_to post_path(1), class:"content-main-slides-slide-1" do
      =image_tag "/assets/slidechild1.jpg", size:"320x185"
  .content-main-slides-slide
    =link_to post_path(2), class:"content-main-slides-slide-1" do
      =image_tag "/assets/slidechild2.jpg", size:"330x185"
  .content-main-slides-slide
    =link_to post_path(3), class:"content-main-slides-slide-1" do
      =image_tag "/assets/slidechild3.jpg", size:"330x185"
  .content-main-slides-slide
    =link_to post_path(4), class:"content-main-slides-slide-1" do
      =image_tag "/assets/slidechild4.jpg", size:"330x185"
  .content-main-slides-slide
    =link_to post_path(5), class:"content-main-slides-slide-1" do
      =image_tag "/assets/slidechild5.jpg", size:"330x185"
  .content-main-slides-slide
    =link_to post_path(6), class:"content-main-slides-slide-1" do
      =image_tag "/assets/slidechild6.jpg", size:"330x185"
  .content-main-slides-slide
    =link_to post_path(7), class:"content-main-slides-slide-1" do
      =image_tag "/assets/slidechild7.jpg", size:"330x185"
  .content-main-slides-slide
    =link_to post_path(8), class:"content-main-slides-slide-1" do
      =image_tag "/assets/slidechild8.jpg", size:"330x185"
