.port{
  height: 100vh;
  width: 100vw;
  &-up{
    height: 200px;
    &-main{
      margin: 0 auto;
      width: 1000px;
      height: 200px;
      background: linear-gradient(yellow, orange);
      &-title{
        padding: 75px 10px 0;
        height: 30px;
        display: flex;
        &-logo1{
          font-size: 30px;
        }
        &-name{
          margin: 0 10px;
          font-size: 24px;
        }
        &-logo2{
          font-size: 32px;
        }
        &-links{
          margin-left: auto;
          &-twitter{
            font-size: 24px;
            color: #4C6EF5;
            text-decoration: none;
            margin-left: 5px;
          }
          &-line{
            font-size: 24px;
            color: green;
            margin-left: 5px;
            text-decoration: none;
          }
          &-facebook{
            font-size: 24px;
            color: #3B5795;
            margin-left: 5px;
            text-decoration: none;
          }
        }
      }
      &-lists{
        margin-top: 63px;
        height: 30px;
        width: 1000px;
        display: flex;
        justify-content: center;
        &__li{
          text-align: center;
          width: 250px;
          height: 30px;
          border: solid 1px gray;
          &__link{
            text-decoration: none;
            color: blue;
            line-height: 30px;
          }
        }
      }
    }
  }
  &-down{
    height: calc(100vh - 200px);
    background-color: blue;
    &-main{
      margin: 0 auto;
      background-color: purple;
      width: 1000px;
      height: calc(100vh - 200px);
    }
  }
}