a{
  text-decoration: none;
}
a:hover{
  color: blue;
  border-bottom: solid 1px blue;
}
.port{
  width: 100vw;
  background: linear-gradient(gray, white, gray);
  &-up{
    height: 200px;
    &-main{
      margin: 0 auto;
      width: 1000px;
      height: 200px;
      background: linear-gradient(yellow, orange);
      &-title{
        padding: 75px 10px 0;
        height: 30px;
        display: flex;
        &-logo1{
          font-size: 30px;
        }
        &-name{
          margin: 0 10px;
          font-size: 24px;
        }
        &-logo2{
          font-size: 32px;
        }
        &-links{
          margin-left: auto;
          &-twitter{
            font-size: 24px;
            color: #4C6EF5;
            text-decoration: none;
            margin-left: 5px;
          }
          &-line{
            font-size: 24px;
            color: green;
            margin-left: 5px;
            text-decoration: none;
          }
          &-facebook{
            font-size: 24px;
            color: #3B5795;
            margin-left: 5px;
            text-decoration: none;
          }
        }
      }
      &-lists{
        margin-top: 63px;
        height: 30px;
        width: 1000px;
        display: flex;
        justify-content: center;
        &__li{
          text-align: center;
          width: 250px;
          height: 30px;
          border: solid 1px gray;
          &__link{
            text-decoration: none;
            color: blue;
            line-height: 30px;
          }
        }
      }
    }
  }
  &-down{
    &-main{
      margin: 0 auto;
      background-color: white;
      width: 1000px;
      &-title{
        height: 100px;
        background: linear-gradient(yellow, orange);
        &-about{
          margin-left: 30px;
          line-height: 100px;
          font-size: 36px;
        }
      }
      &-text{
        padding: 50px 0;
        background: linear-gradient(rgb(255, 217, 0), rgb(255, 145, 0));
        &-details{
          margin-left: 10px;
        }
      }
      &-block{
        padding-top: 75px;
        display: flex;
        height: 200px;
        background-color: white;
        &-image{
          width: 30%;
          background-color: white;
          &-block{
            height: 150px;
            width: 150px;
            margin: 0 auto;
          }
        }
        &-introduction{
          width: 15%;
          &-block{
            margin-left: 30px;
            &-list{
              margin-top: 5px;
              font-size: 14px;
              font-weight: bold;
              color: #333333;
            }
          }
        }
        &-answer{
          width: 55%;
          &-block{
            margin-left: 20px;
            &-list{
              margin-top: 5px;
              font-size: 14px;
              color: #333333;
            }
          }
        }
      }
      &-title2{
        height: 100px;
        background: linear-gradient(orange, rgb(255, 72, 0));
        &-works{
          margin-left: 30px;
          line-height: 100px;
          font-size: 36px;
        }
      }
      &-text2{
        margin-top: 100px;
        height: 200px;
        display: flex;
        &-image{
          width: 30%;
          &-block{
            padding-left: 10px;
          }
        }
        &-introduction{
          width: 15%;
          &-block{
            margin-left: 30px;
            &-list{
              margin-top: 5px;
              font-weight: bold;
              font-size: 14px;
              color: #333333;
            }
          }
        }
        &-answer{
          width: 55%;
          padding-right: 10px;
          &-block{
            margin-left: 20px;
            &-list{
              margin-top: 5px;
              font-size: 14px;
              color: #333333;
            }
          }
        }
      }
    }
  }
}

